/* ---------------------------- */
/* ------------Global----------- */
/* ---------------------------- */
/* * not sure call body tag */

/* purple #ff0e83 */
/* background blue-gray: #4e2a84 */

html, body {
    font-family: 'Montserrat', sans-serif;
}
html {
    /* font size default for all website  */
    /* rem use for font size and margin  */
    font-size: 10px;
    /* 1rem : 20px */
    /* browser default: 1rem = 16px */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------- */
/* ------------Base------------ */
/* ---------------------------- */
.header__primary {
    font-size: 5rem;
    font-weight: 600;
    text-transform: capitalize;
    color:#fff;
    letter-spacing: 3px;
    line-height: 6rem;
    margin: 2rem;
}
.header__secondary {
    font-size: 5rem;
    font-weight: 600;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 4px;
    line-height: 6rem;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
}
.header__secondary--black {
    color: #000;
}
.header__tertiary {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: 1rem 0;
}
.btn {
    padding: 12px 25px;
    border-radius: 5px;
}
.btn__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn__text--white {
    background-color: #ff0e83;
    color: white;
    border: 1px solid #fff;
    transition: all .2s;
}
.btn__text--white:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #ff0e83;
}
/* full box image  */
.img__box {
    width: 100%;
}

/* ---------------------------- */
/* --------Header Section------ */
/* ---------------------------- */
header {
    background-color: #4e2a84;
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 2000;
}
.header__content {
    display: flex;
    /*
     use width: 70%; margin: 0 auto; 
     do not use
    justify-content: center;
    align-items: center; */
    /* app dung cho noi dung lon */
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
/* logo */
.header__logo {
    font-size: 3.4rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}
/* nav */
nav {
    width: 90%;
}
.nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav__item {
    width: 10%;
    display: inline-block;
}
.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1rem;
}
.active, .nav__link:hover {
    color: #ff0e83;
}
/* ---------------------------- */
/* --------carousel Section---- */
/* ---------------------------- */
.carousel {
    background-image: url('../img/b3.jpg');
    height: 680px;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 42px;
}
.carousel__text {
    text-align: center;
    /* co the su dung 
    justify-content: center;
    align-items: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header__text {
    font-size: 1.7rem;
    letter-spacing: 3px;
    color: #fff;
    margin: 2rem 0;
}
/* ---------------------------- */
/* --------intro Section------ */
/* ---------------------------- */
.intro {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.intro__item {
    color: #fff;
    text-align: center;
}
.intro__item--purple {
    background-color: #4e2a84;   
}
.intro__item--purple-light {
    background-color: #836EAA;
}
.intro__item--pink {
    background-color:#ff0e83;   
}
.intro__item--pink-light {
    background-color: #ED6498;
}
.intro__item--ab1 {
    grid-column: 2 / span 2;
}
.intro__item--best {
    grid-column: 1/ span 2;
}
.intro__item--ab3 {
    grid-column: 3/ span 2;

}
.intro h2 {
    padding-top: 14rem;
}
.intro__img {
    width: 100%;
    display: block;
}
.intro__text {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
}

/* ---------------------------- */
/* --------number Section------ */
/* ---------------------------- */
.number__content {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}
.number__item {
    width: 25%;
    text-align: center;
    margin: 4rem 0;
}
.number__item p:nth-child(1) {
    font-size: 3rem;
    font-weight: 600;
    color: #4e2a84;
    line-height: 4.5rem;
    padding: 1rem;
}
.number__item p:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 2rem;
    line-height: 2.5rem;
}

/* ---------------------------- */
/* --------services Section------ */
/* ---------------------------- */
.services {
    background-image: url(/img/s1.jpg);
    height: 620px;
    background-position: top;
    background-size: cover;
    margin: 3rem 0;
    padding: 1rem;
}
.service__content {
    display: flex;
    width: 90%;
    margin: 2rem auto;
}
.service__item {
    text-align: center;
}
.service__icon {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}
.service__icon i {
    font-size: 6rem;
    color: #4e2a84;
}
.service__item:hover i {
    color: #ff0e83;
}
.service__text {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    line-height: 3rem;
}
/* ---------------------------- */
/* --------gallery Section------ */
/* ---------------------------- */
.gallery {
    margin: 6rem 0;
}
.gallery__content {
    width: 96%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem;
}
.gallery__item {
    position: relative;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.548);
}
.gallery__item--g1 {
    grid-column: 1/span 2;
}
.gallery__item--g6 {
    grid-column: 3/span 2;
}
/* image */
.gallery__img {
    width: 100%;
    opacity: 0.7;
}
/* gallery__text */
.gallery__text {
    color: #fff;
    text-align: right;
}
/* header gallery */
.gallery__text h3 {
    position: absolute;
    width: 90%;
    top: 10%;
    right: 0%;
    text-transform: uppercase;
    height: 700;
    margin-right: 5%;
    transition: all .5s;

}
.gallery__text h3::after {
    display: block;
    content: '';
    height: 4px;
    background-color: #fff;
    margin-top: 3rem;
    opacity: 0;
    transform: translateY(10rem);
    transition: all .5s;
}
.gallery__text h3 span {
    font-weight: 400;
}
/* text small */
.gallery__text p {
    position: absolute;
    bottom: 8%;
    right: 0%;
    opacity: 0;
    margin-right: 5%;
    transform: translateY(5rem);
    transition: all .5s;
}
/* hover  */
.gallery__item:hover .gallery__text h3::after,
.gallery__item:hover .gallery__text p,
.gallery__item:hover .gallery__text h3 {
    transform: translateY(-2rem);
    opacity: 1;
}
/* ---------------------------- */
/* ------------Team----------- */
/* ---------------------------- */
.team {
    background-color: #4e2a84;
    padding: 5rem 0;
    margin-top: 8rem;
}
/* content */
.team__content {
    width: 85%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
/* item team  */
.team__item {
    position: relative;
}
/* name */
.team__name {
    background-color: #ff0e83;
    padding: 2rem;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.team__name h3 {
    font-weight: 500;
}
/* information */
.team__infor {
    color: #fff;
    padding: 10rem 4rem;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;
}
.team__infor h3{
    color: #ff0e83;
    font-weight: 500;
    padding-bottom: 1rem;
}
/* text */
.team__text {
    padding-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
}
/* social icon  */
.team__social {
    padding-bottom: 1rem;
    display: flex
}
.icon__box--pink {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin-left: 2rem;
    color: #fff;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    transition: all .2s;
}
/* hover */
.team__item:hover .team__infor {
    opacity: 0.8;
    background-color: #000;

}
.team__item:hover .team__name {
    opacity: 0;
}
.icon__box--pink:hover {
    border: 1px solid #ff0e83;
    color: #ff0e83;
}